* {
    letter-spacing: -0.15pt;
    font-size: 18px;
    font-family: "Montserrat", sans-serif;
    font-weight: 400;
    line-height: 1.6;
    box-sizing: border-box;
}
body {
    transition: 0.25s;
    margin: 0;
}
::-webkit-scrollbar {
    width: 5px;
}
::-webkit-scrollbar-track {
    background: #bcbcbc;
}
::-webkit-scrollbar-thumb {
    background: #af32af;
}
div, header {
    display: block;
}
.navbar {
    min-height: 75px;
}
.container {
    display: block;
    unicode-bidi: isolate;
    position: relative;
    min-height: 1px;
    padding-right: 15px;
    padding-left: 15px;
    margin-right: auto;
    margin-left: auto;
}
.navbar .container{
    display: block;
    unicode-bidi: isolate;
    position: relative;
    min-height: 1px;
    padding-right: 15px;
    padding-left: 15px;
}
.col {
    position: relative;
    min-height: 1px;
    padding-right: 15px;
    padding-left: 15px;
}
b {
    font-weight: 600;
}
@media (min-width: 1200px) {
    .navbar .container, .container {
        width: 1170px;
    }
}   
@media (min-width: 992px) {
    .navbar .container, .container {
        width: 970px;
    }
}
@media (min-width: 992px) {
    .col {  
        float: left;
    }
}
@media (min-width: 768px) {
    .container {
        width: 750px;
    }
}
@media (min-width: 768px) {
    .navbar-header {
        float: left;
    }
}
@media (min-width: 768px) {
    .navbar-right {
        float: right;
    }
}
nav {
    transition: 0.25s;
    position: relative;
    background-color: #bcbcbc;
    border: 0;
    border-radius: 0;
    box-shadow: none;
    margin: 0;
    z-index: 9;
    border-bottom: 3px solid #af32af;
}
section {
    padding-top: 20px;

}
.row {
    margin-right: -15px;
    margin-left: -15px;
}
img {
    vertical-align: middle;
}
#dark {
    background-color: #202020;
    color: white;
}
#dark .news {
    transition: 0.25s;
    background-color: #202020;
    color: white;
}
#dark nav {
    background-color: #202020;
    color: white;
}
a {
    color: #af32af;
}
.theme {
    background-color: #af32af;
    color: white;
    padding: 12px;
    border: 0;
    border-radius: 100px;
    font-weight: bold;
    margin-top: 10%;
    font-size: small;
}
.news {
    margin-top: 10px;
    margin-bottom: 10px;
    border: 4px solid #af32af;
    padding: 10px;
    width: 100%;
}
.date {
    color: #af32af;
    font-weight: bold;
    font-size: 24px;
    margin: 0;
}
h2 {
    color: #af32af;
    font-weight: bold;
    font-size: 36px;
}
.news p {
    margin: 0;
}
a p {
    background-color: #af32af;
    color: white;
    padding: 12px;
    border: 0;
    border-radius: 100px;
    text-decoration: none;
    font-weight: bold;
    width: 100%;
}
